# Namespace for package acde

## Imports
import(boot)
import(graphics)
import(stats)
importFrom("graphics", "abline", "barplot", "legend", "lines", "mtext", "par", "plot", "points", "polygon")
importFrom("stats", "addmargins", "cor", "quantile", "var")

## Exports
export(stp,tc,ac,ac2,fdr,bcaFDR,qval)
S3method(print,STP)
S3method(plot,STP)
S3method(print,TC)
S3method(plot,TC)
S3method(summary,TC)